<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
    		<ul>
        		<li><a href="https://github.com/SunnyMaxwell">© SunnyMaxwell 2020</a></li>
		</ul>
			<a href="www.facebook.com/sunny.chodapaneedi" target=_blank class="fa fa-facebook"></a>
			<a href="https://twitter.com/Sunny17659721" target=_blank class="fa fa-twitter"></a>
			<a href="https://www.instagram.com/s_u_n_n_y_m_a_x_w_e_l_l/" class="fa target=_blank fa-instagram"></a>
			<a href="https://www.linkedin.com/in/vekata-sri-rama-sai-chodapaneedi-3661bb193" class="fa target=_blank fa-linkedin"></a>
		<!--<iframe src="https://discordapp.com/widget?id=685810734655209514&theme=dark" height="150" allowtransparency="true" frameborder="0"></iframe>-->
		</footer>
		</body>
	</html>
